#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .mbr-navbar__items a {
  font-size: 14px;
}
#menu-0 .mbr-brand__name a {
  font-size: 17px;
}
#slider-1 H1 {
  text-align: center;
}
#slider-1 P {
  text-align: center;
}
#contacts1-3 STRONG {
  color: #ffffff;
}
#contacts1-3 P {
  color: #ffffff;
}
#social-buttons2-5 .mbr-header__text {
  text-align: left;
  color: #ffffff;
}
#footer1-4 P {
  text-align: center;
  color: #ffffff;
  font-size: 15px;
}
#content5-9 .mbr-header .mbr-header__text {
  text-align: left;
  color: #000000;
}
#content5-9 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-9 .mbr-article {
  color: #fff;
}
#content5-9 .mbr-article P {
  color: #000000;
  text-align: left;
  font-size: 19px;
}
#content5-9 .mbr-article BLOCKQUOTE {
  color: #000000;
}
#menu-6 .mbr-brand__name {
  font-size: 16px;
}
#menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-6 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-6 .mbr-navbar__items a {
  font-size: 14px;
}
#menu-6 .mbr-brand__name a {
  font-size: 17px;
}
#contacts1-7 STRONG {
  color: #ffffff;
}
#contacts1-7 P {
  color: #ffffff;
}
#social-buttons2-a .mbr-header__text {
  color: #ffffff;
}
#footer1-8 P {
  text-align: center;
  color: #ffffff;
  font-size: 15px;
}
#contacts3-g STRONG {
  color: #252525;
}
#contacts3-g P {
  color: #252525;
}
#menu-b .mbr-brand__name {
  font-size: 16px;
}
#menu-b.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-b .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-b .mbr-navbar__items a {
  font-size: 14px;
}
#menu-b .mbr-brand__name a {
  font-size: 17px;
}
#social-buttons2-e .mbr-header__text {
  color: #ffffff;
}
#footer1-d P {
  text-align: center;
  color: #ffffff;
  font-size: 15px;
}
